@use "./variables" as v;

body {
  font-family: v.$font-family;
  font-style: normal;
  background-color: v.$very_light_gray;
  line-height: 1.5;
}

h1 {
  color: v.$very_dark_blue;
  font-weight: v.$extra_light;
  font-size: 1.5rem;
  text-align: center;
}

span {
  display: block;
  font-weight: v.$semiBold;
  margin-bottom: 1.25rem;
}

p {
  color: v.$grayish_blue;
}

img {
  position: relative;
  left: 15rem;
  top: 3.75rem;

  @include v.mobile {
    left: 14.375rem;
    top: 1.875rem;
  }
}

.artificial_message {
  font-weight: v.$regular;
  font-size: 0.938rem;
  text-align: center;
  letter-spacing: 0.006rem;
}

.card {
  width: min(100% - 2rem, 69.375rem);
  margin-inline: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include v.laptop {
    display: grid;
    grid-template-columns: repeat(3, 21.875rem);
    grid-template-rows: repeat(8, 1fr);
    gap: 1.875rem;
  }
}

.item {
  border-radius: 0.625rem;
  box-shadow: 0 0.188rem 0.625rem v.$grayish_blue;
  height: 13.875rem; //14.125rem;

  @include v.laptop {
    height: 15.625rem;
  }
}

.header_card {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @include v.laptop {
    width: 33.75rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.supervisor_card {
  border-top-style: solid;
  border-top-color: v.$cyan;

  @include v.laptop {
    grid-area: 3 / 1 / 7 / 2;
  }
}

.team_builder_card {
  border-top-style: solid;
  border-top-color: v.$red;

  @include v.laptop {
    grid-area: 1 / 2 / 5 / 3;
  }
}

.karma_card {
  border-top-style: solid;
  border-top-color: v.$orange;

  @include v.laptop {
    grid-area: 5 / 2 / 9 / 3;
  }
}

.calculator_card {
  border-top-style: solid;
  border-top-color: v.$blue;

  @include v.laptop {
    grid-area: 3 / 3 / 7 / 4;
  }
}

.header {
  font-weight: v.$semiBold;
  font-size: 1.25rem;
  color: #4d4f62;
  padding: 1.25rem 0.625rem 0.625rem 1.25rem;
}

.message {
  font-weight: v.$regular;
  font-size: 0.813rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @include v.laptop {
    padding-right: 2.5rem;
  }
}

.karma {
  padding-right: 3.75rem;
}

.calculator {
  padding-right: 3.75rem;
}