@use "./variables" as v;

body {
    font-family: v.$font-family;
    font-size: v.$font-size;
    background-color: v.$very_light_gray;
    line-height: 1.5;

    @include v.mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

h1 {
    color: v.$very_dark_blue;
    text-align: center;
}

span {
    display: block;
    font-weight: v.$six_hundred_font_weight;
    margin-bottom: 1.25rem;
}

h3 {
    font-weight: v.$six_hundred_font_weight;
}

p {
    color: v.$grayish_blue;
}

img {
    position: relative;
    left: 17.5rem;
    top: 3.75rem;

    @include v.mobile {
        left: 14.375rem;
        top: 1.875rem;
    }
}

/*
#powered_header {
    text-align: center;

    @include v.mobile {
        padding-right: 0.625rem;
    }
}
*/
.artificial_message {
    font-weight: v.$two_hundred_font_weight;
    text-align: center;

    @include v.mobile {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    @include v.laptop {
        margin-left: 18.75rem;
        padding-left: 6.25rem;
        margin-right: 18.75rem;
        padding-right: 7.5rem;
    }
}

#karma {
    padding-right: 3.75rem;
}

#calculator {
    padding-right: 3.75rem
}

.card {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    padding: 3.125rem;

    @include v.mobile {
        display: flex;
        flex-direction: column;
        padding: 1.875rem;
    }
}

.item {
    border-radius: 0.625rem;
    box-shadow: 0 0.188rem 0.625rem v.$grayish_blue;

    @include v.mobile {
        height: 14.125rem;
        margin: auto;
    }
}

.supervisor_card {
    border-top-style: solid;
    border-top-color: v.$cyan;
}

.team_builder_card {
    border-top-style: solid;
    border-top-color: v.$red;
}

.karma_card {
    border-top-style: solid;
    border-top-color: v.$orange;
}

.calculator_card {
    border-top-style: solid;
    border-top-color: v.$blue;
}

.header {
    padding: 1.25rem 0.625rem 0.625rem 1.25rem;

    @include v.laptop {
        padding-left: 2rem;
    }
}

.message {
    font-weight: v.$two_hundred_font_weight;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @include v.laptop {
        margin-left: 0rem;
        padding-left: 2rem;
        padding-right: 6.25rem;
    }
}

/* grid-items */
.header_card_item {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.supervisor_card_item {
    grid-row-start: 3;
    grid-row-end: 5;
}

.team_builder_card_item {
    grid-row: 2 / span 2;
}

.karma_card_item {
    grid-row: 4 / span 2;
}

.calculator_card_item {
    grid-column-start: 3;
    grid-row: 3 / span 2;
}